
@keyframes checked {
  0% {
    stroke-dashoffset: 10;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes unchecked {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 10;
  }
}

@keyframes arrowDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(4px);
  }
}

@keyframes arrowUp {
  0% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes trayDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(4px);
  }
}

@keyframes trayUp {
  0% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}
