
@keyframes checked {
  0% {
    stroke-dashoffset: 10;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes unchecked {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 10;
  }
}

@keyframes arrowDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(4px);
  }
}

@keyframes arrowUp {
  0% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes trayDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(4px);
  }
}

@keyframes trayUp {
  0% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes resizeMaskRect {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-1.5px, -1.5px);
  }
}

@keyframes resizeMaskRectBack {
  0% {
    transform: translate(-1.5px, -1.5px);
  }

  100% {
    transform: translate(0, 0);

  }
}

@keyframes moveCursor {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-3px, -3px);
  }
}

@keyframes moveCursorBack {
  0% {
    transform: translate(-3px, -3px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveCircleY {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -1.5px);
  }
}

@keyframes moveCircleYBack {
  0% {
    transform: translate(0, -1.5px);

  }

  100% {
    transform: translate(0, 0);;
  }
}

@keyframes moveCircleX {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-1.5px, 0);
  }
}

@keyframes moveCircleXBack {
  0% {
    transform: translate(-1.5px, 0);

  }

  100% {
    transform: translate(0, 0);;
  }
}

@keyframes circleDown {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 3px);
  }
}

@keyframes circleDownBack {
  0% {
    transform: translate(0, 3px);

  }

  100% {
    transform: translate(0, 0);;
  }
}


@keyframes bellEffectRightMove {
  0% {
    transform: translate(0, 0);
  }

  30% {
    transform: translate(2px, -3px);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(2px, -3px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes bellEffectLeftMove {
  0% {
    transform: translate(0, 0);
  }

  30% {
    transform: translate(-2px, -3px);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(-2px, -3px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes bellHatDown {
  0% {
    transform: translate(0, 0);
  }

  45% {
    transform: translate(0, 2px);
  }

  65% {
    transform: translate(0, 0);
  }

  80% {
    transform: translate(0, 2px);

  }

  100% {
    transform: translate(0, 0);

  }
}


