@import "../IconMotion/styles/animation";
.arrow {
  &.animate {
    animation: arrowDown 0.1s forwards, arrowUp 0.1s forwards 0.1s;
  }
}

.tray {
  &.animate {
    animation: trayDown 0.1s forwards 0.1s, trayUp 0.2s forwards 0.2s;
  }
}

.checkmark {
  stroke-dasharray: 10px;

  &.animate {
  animation: checked 0.2s linear forwards;
  }

  &.uncheck {
    stroke-dashoffset: 0;
    animation: unchecked 0.2s linear forwards;
  }
}
